<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechFnatic - Contact Page</title>
    <link rel="icon" type="image/x-icon" href="./img/logo.png">

    <!-- Bootstrap-5.2 CSS -->
    <link rel="stylesheet" href="./css/bootstrap-5.2.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <main id="main">
        <!-- === Header (Navbar) -->
        <header class="fixed-top">
            <nav class="navbar navbar-expand-md p-0">
                <div class="container">
                    <a class="navbar-brand" href="/"><img src="./img/logo.png" class="logo" alt="Logo Image"></a>
                    <button class="navbar-toggler fs-24" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-end mobile-nav" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <img src="./img/logo.png" class="logo" alt="Logo Image">
                            <button type="button" class="btn-close fs-24" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body align-items-center">
                            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/#our-products">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="./contact-us.html">Contact Us</a>
                                </li>
                                <li class="nav-item d-block d-md-none">
                                    <a href="https://wa.me/+916361662946" target="_blank" class="nav-link"><img src="./img/whatsapp.svg" class="w-24px" alt="Whatsapp Icon"></a>
                                </li>
                            </ul>
                            <div class="d-none d-md-block">
                                <a href="https://wa.me/+916361662946" target="_blank"><img src="./img/whatsapp.svg" class="w-24px" alt="Whatsapp Icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <!-- ==== Contact Form Section ===== -->
        <section class="Contact-section pt-2rem pb-2rem mt-78px">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-xl-8">
                        <h1 class="heading-1">Have a question? Write a message.</span></h1>
                        <p class="me-lg-4 fs-16 mt-2">We will catch you as early as we we recieve this message.</p>
                        <!-- Form -->
                        <form class="mt-3">
                            <div class="mb-3">
                                <label for="fName" class="form-label">First Name*</label>
                                <input type="text" class="form-control" id="fName" placeholder="John" required>
                            </div>
                            <div class="mb-3">
                                <label for="lName" class="form-label">Last Name*</label>
                                <input type="text" class="form-control" id="lName" placeholder="Doe" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email Address*</label>
                                <input type="email" class="form-control" id="email" placeholder="example@gmail.com" required>
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">Phone Number*</label>
                                <input type="tel" class="form-control" dir="phone" placeholder="9876543210" required>
                            </div>
                            <div class="mb-3">
                                <label for="product" class="form-label">Select the Product*</label>
                                <select class="form-select" id="product" aria-label="Default select example" required>
                                    <option selected disabled>Select the Product</option>
                                    <option value="1">Easy-eCom</option>
                                    <option value="2">WebsitEasY</option>
                                    <option value="3">EstimatEasY</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Message*</label>
                                <textarea class="form-control" id="message" placeholder="Explain your requirements a bit" rows="3" required></textarea>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="terms" required>
                                <label class="form-check-label" for="terms">I agree to the <a href="./terms-and-conditions.html" class="highlighter fw-500">Terms & Conditions</a> of the company.</label>
                            </div>
                            <button type="submit" class="btn btn-main w-100">Contact</button>
                            <small class="d-flex justify-content-center align-items-center mt-2"><img src="./img/shield-lock-fill.svg" class="w-16px me-1" alt="Shield-lock Icon"> We hate spam, and we respect your privacy.</small>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <!-- ==== Footer Section ===== -->
        <section class="footer-section pt-2rem pb-2rem">
            <div class="container">
                <!-- Footer Header -->
                <div class="row justify-content-between">
                    <div class="col-6">
                        <img src="./img/logo.png" class="logo" alt="Logo Image">
                    </div>
                    <div class="col-6">
                        <ul class="social-links d-flex justify-content-end mb-0 list-unstyled">
                            <li><a target="_blank" href="https://www.facebook.com/Techfnatic"><img src="./img/facebook.svg"
                                        alt="Facebook Icon"></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/company/techfnatic/"><img src="./img/linkedin.svg"
                                        alt="Linkedin Icon"></a></li>
                            <li><a target="_blank" href="https://wa.me/+916361662946"><img src="./img/whatsapp.svg"
                                        alt="Whatsapp Icon"></a></li>
                        </ul>
                    </div>
                </div>
                <!-- Footer Content -->
                <div class="row mt-4">
                    <!-- First Col -->
                    <div class="col-md-6 col-lg-4">
                        <ul class="footer-links mb-0 list-unstyled">
                            <li><a href="/">Home</a></li>
                            <li><a href="/#our-products">Products</a></li>
                            <li><a href="./career-page.html">Career</a></li>
                            <li><a href="./contact-us.html">Contact Us</a></li>
                            <li><a href="./privacy-policy.html">Privacy Policy</a></li>
                            <li><a href="./terms-and-conditions.html">Terms & Conditions</a></li>
                        </ul>
                    </div>
                    <!-- Second Col -->
                    <div class="col-md-6 col-lg-4 mt-4 mt-lg-0">
                        <ul class="footer-links footer-contact mb-0 list-unstyled">
                            <li class="d-flex align-items-start">
                                <img src="./img/envelope-fill.svg" class="mt-1" alt="Message Icon">
                                <div class="ms-2">
                                    <h5>Email</h5>
                                    <a href="mailto:solution@techfnatic.com">solution@techfnatic.com</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <img src="./img/telephone-fill.svg" class="mt-1" alt="Message Icon">
                                <div class="ms-2">
                                    <h5>Phone</h5>
                                    <a href="tel:+916361662946">+91 6361662946</a>
                                </div>
                            </li>
                            <li class="d-flex align-items-start">
                                <img src="./img/geo-alt-fill.svg" class="mt-1" alt="Message Icon">
                                <div class="ms-2">
                                    <h5>Address</h5>
                                    <a href="https://goo.gl/maps/2ZBTTgBj3jdfGwXm7" target="_blank">139, 4th Floor,
                                        Sterling Heights, Infantry Rd, Bengaluru, Karnataka 560001</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- Third Col -->
                    <div class="col-md-12 col-lg-4 mt-4 mt-lg-0">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.839134134713!2d77.59633381413528!3d12.982138818161104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1714d2e763c3%3A0xaf89561c107d050!2sTechFNatic!5e0!3m2!1sen!2sin!4v1663663406435!5m2!1sen!2sin"
                            width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <!-- ==== Bottom Footer Section ===== -->
        <section class="bottom-footer py-3">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12">
                        <p class="fw-500 fs-16">Copyright © 2022 </p>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <!-- Bootstrap-5.2 Js -->
    <script src="./js/bootstrap-5.2.js"></script>

</body>

</html>